*{
    margin: 0;
    padding: 0;
    size: 16px;
    

}
body{
    font-size: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width: 1366px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* height: 768px; */
    background-color: white;
}
i{
    display: block;
    width: 20px;
    /* background-color: linear-gradient(to right, purple, rgb(214, 120, 31)); */
    height: 20px;
    color: linear-gradient(to right, purple, rgb(214, 120, 31));
    
}
a:hover{
    color: black;
}
a{
    color: rgb(139, 136, 136);
    text-decoration: none;
}
li{
    display: block;
    text-decoration: none;
}
nav{
    display: flex;
    padding: 2.5em;
}
nav img{
    /* flex-basis:15% ; */
    padding-left: 10em;
    /* width: 3/%; */
    height: 20px;
    align-items: center;
    padding-top:0.8em ;
}
nav ul{
    flex-basis: 40%;
    align-items: center;
}
nav .getstarted{
    /* flex-basis: 45%; */
    text-align: center;
    margin-left: 15em;
}
nav .getstarted a{
    padding: 0.7em;
    display: block;
    color: white;
    background-image: linear-gradient(to right, purple, rgb(214, 120, 31));
    border-radius: 30px;

}
ul{
    display: flex;
    justify-content:space-evenly;
}
main{
    display: flex;
    flex-direction: row;
    padding-top: 2em;
}
main section{
    padding: 13%;
}
main section h1{
    font-size: 250%;
    padding: 1em;
}
main section a{
    padding: 1em;
    display: block;
    border:1px rgb(14, 13, 13);
    border-radius: 30px;
    /* color: linear-gradient(to right, purple, rgb(214, 120, 31)); */
}
i{
    
}
  