:root{
    --text-color : #828282;
    --border-color: #e0e0e0;
    --primary-color:#2f80ed;

}
*{
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    
}
body{
    background-color: rgba(0,0, 0, 1);
    background-image: url(./img/flowerPlant.jpeg
    );
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    size: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    max-width: 1200px;
    align-items: center;
    height: 100vh;
    

}
.image{
    grid-column: 3/4;

}
.form--main{
    grid-column: 7/12;  
}
.form--main-contain{
    background-color:white ;
    padding: 20px;
    border-radius: 10px;
}
.decor{
    /* font-weight: ; */
    font-size: 150%;
    color: black;
}
input{
    margin-bottom: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-color);
}
label{
    margin-bottom: 3px;
    display: block;
}
.name{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.fisrt-name{
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: var(--primary-color)
}
.submit{
    font-weight: bold;
    padding: 7px;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 35%;
    width: 30%;
    color: white;
    background-color: var(--primary-color);

}
select{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-color);
}
.date-month-year__decor h3{
    font-weight: bold;
} 
.date-month-year{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.month,.day{
    margin-right: 10px;
}
