body{
    font-family: sans-serif;
    /* background-color: white; */
    max-width: 1200px;
    width: 96%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0.5em auto;
    position: relative;
    color: black;
}
h1{
    font-size: 300%;
    
}
p{
    padding-left: 0;
}
main{
    
    flex-direction: row;
    box-sizing: border-box;
    height: 700px;

}
main img{
    position: absolute;
    top: 100px;
    max-width: 50%;
}
.content{
    width: 40%;
    position: absolute;
    top: 10em;
    right: 2em;
    padding: 3em;
}
.footer{
    text-align: center;
}
.button{
    width: 15em;
    /* height: 3em; */
    color: white;
    background-color: black;
    text-align: center;
    padding: 0.5em;
    border-radius: 3px;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color: violet;
}
